<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ex2 -->
      <package
            uri="/ex2/ex2.ecore"
            class="wizard.WizardPackage"
            genModel="ex2.genmodel"/>
   </extension>

</plugin>
