<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated orders -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="orders.presentation.OrdersModelWizardID"
            name="%_UI_OrdersModelWizard_label"
            class="orders.presentation.OrdersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OrdersModelFile.gif">
         <description>%_UI_OrdersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated orders -->
      <editor
            id="orders.presentation.OrdersEditorID"
            name="%_UI_OrdersEditor_label"
            icon="icons/full/obj16/OrdersModelFile.gif"
            extensions="orders"
            class="orders.presentation.OrdersEditor"
            contributorClass="orders.presentation.OrdersActionBarContributor">
      </editor>
   </extension>

</plugin>
