<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wizards -->
      <package
            uri="/ejemplo/metamodel/wizards.ecore"
            class="wizards.WizardsPackage"
            genModel="wizards.genmodel"/>
   </extension>

</plugin>
